---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->
  <slot />

  <hr />
  <h4>Tags</h4>
  <ul class="flex flex-wrap p-0">
    {
      frontmatter.tags.map((tag: string) => (
        <li class="m-0 list-none p-0">
          <a
            class="dark:bg-gray-80 m-1 rounded-lg border border-solid border-gray-300 bg-gray-100 p-0 px-2 py-1 text-gray-600! no-underline hover:border-blue-800 hover:bg-blue-100 hover:text-blue-800! dark:border-gray-600 dark:bg-gray-800 dark:text-gray-300! hover:dark:border-blue-400 hover:dark:bg-blue-900 hover:dark:text-blue-300!"
            href={`/tags/${tag}`}
          >
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
